  /* Contenedor principal para el blog */
  .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
  }

  .blog-page {
    background: rgba(255, 255, 255, 0.685);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
  }

 h1 {
   font-size: 36px;
   color: #05407a;
   margin-bottom: 15px;
   word-wrap: break-word;
   /* Evitar que el texto se desborde */
   overflow: hidden;
   /* Ocultar el desbordamiento */
   text-overflow: ellipsis;
   /* Añadir "..." si el texto es demasiado largo */
   max-width: 100%;
   /* Ajustar al contenedor */
   white-space: normal;
   /* Permitir que el texto se ajuste en varias líneas si es necesario */
 }

  #blog-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  #blog-content {
    font-size: 18px;
    color: #34495e;
    text-align: justify;
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  #volverFeed {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 10vh;           /* Ocupa el 100% de la altura de la ventana */
  }

  /* Estilo del botón */
.btn-volverFeed {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Efecto al pasar el ratón sobre el botón */
.btn-volverFeed:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto al presionar el botón */
.btn-volverFeed:active {
  background-color: #003f73;
}