---
import BlogLayout from "../layouts/BlogLayout.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/backgroundVideo.css";
import "../styles/index.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SpaceBlog - Landing Page</title>
  </head>

  <body>
    <Header />
    <main>
      <section class="hero">
        <h1>Blogs publicados</h1>
        <div>
          <a href="/formulario"
            ><button class="btn btn-login">Crea tu blog</button></a
          >
        </div>
       
        <BlogLayout />
        
        <video autoplay muted loop id="background-video">
          <source src="/assets/fondo5.mp4" type="video/mp4" />
          Tu navegador no soporta el formato de video.
        </video>
  
      </section>
    </main>
  
    <Footer />
  </body>
</html>