---
import "../styles/blog.css"; 
import "../styles/backgroundVideo.css"; 
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Blog</title>
  </head>
  <body>
    <video autoplay muted loop id="background-video">
      <source src="/assets/fondo4.mp4" type="video/mp4" />
      Tu navegador no soporta el formato de video.
    </video>

    <div class="blog-container">
      <article class="blog-page">
        <h1 id="blog-title"></h1>
        <img id="blog-image" src="" alt="" />
        <div id="blog-content"></div>

        <div id="volverFeed">
          <a class="btn-volverFeed" href="./blogs">Volver al feed</a>
        </div>
      </article>
    </div>

    <script src="../scripts/blog.ts"></script>
  </body>
</html>