---
import BlogLayout from "../layouts/BlogLayout.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SpaceBlog - Landing Page</title>
  </head>

  <body>
    <Header>
      
    </Header>
    <section class="hero">
      <h1>Blogs publicados</h1>
      <div>
        <a href="/formulario"
          ><button class="btn btn-login">Crea tu blog</button></a
        >
      </div>
     
      <BlogLayout />
      
      <video autoplay muted loop id="background-video">
        <source src="/assets/fondo5.mp4" type="video/mp4" />
        Tu navegador no soporta el formato de video.
      </video>

    </section>
    <Footer>
      
    </Footer>
  </body>
</html>
<style>
    /* Fondo de video */
    #background-video {
        position: fixed; /* Fija el video en el fondo */
        top: 0;
        left: 0;
        width: 100%; /* Ocupa todo el ancho */
        height: 100%; /* Ocupa todo el alto */
        object-fit: cover; /* Asegura que cubra toda la pantalla sin distorsión */
        z-index: -1; /* Asegura que el video esté detrás del contenido */
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        background: linear-gradient(135deg, #1a2a6c, #3e5fb2, #7273cb);
        color: white;
    }
</style>
