---
import BlogLayout from "../layouts/BlogLayout.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/backgroundVideo.css"; // Importar el archivo CSS
import "../styles/index.css"; // Importar el archivo CSS
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SpaceBlog - Landing Page</title>
  </head>

  <body>
    <Header />

    <section class="hero">
      <h1>Bienvenido a Mi Blog</h1>
      <p>Explora contenido interesante y mantente informado.</p>

      <div class="buttons">
        <a href="/login"
          ><button class="btn btn-login">Iniciar Sesión</button></a
        >
        <a href="/register"
          ><button class="btn btn-register">Registrarse</button></a
        >
      </div>

      <BlogLayout />

      <!-- Video de fondo -->
      <video autoplay muted loop id="background-video">
        <source src="/assets/fondo5.mp4" type="video/mp4" />
        Tu navegador no soporta el formato de video.
      </video>

    </section>
    <Footer />
  </body>
</html>