---
import "../styles/backgroundVideo.css";
import "../styles/login.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SpaceBlog - Iniciar Sesi칩n</title>
  </head>
  <body>
    <div class="container">
      <h2>Iniciar Sesi칩n</h2>
      <form>
        <input type="email" placeholder="Correo Electr칩nico" required />
        <input type="password" placeholder="Contrase침a" required />
        <button type="submit" class="btn-login">Ingresar</button>
      </form>
      <div>
        <a href="/register"><button class="btn-register">Registrarse</button></a
        >
      </div>
      <a href="/"><button class="btn-back">Regresar a Inicio</button></a>
    </div>
    <script src="/src/scripts/login"></script>
    <!-- Video de fondo -->
    <video autoplay muted loop id="background-video">
      <source src="/assets/fondo2.mp4" type="video/mp4" />
      Tu navegador no soporta el formato de video.
    </video>
  </body>
</html>
