---
import RegisterForm from '../components/RegisterForm.astro'; // Importar el componente
import "../styles/backgroundVideo.css";
import "../styles/register.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SpaceBlog - Registrarse</title>
  </head>
  <body>
    <div class="container">
      <h2>Registrarse</h2>
      
      <!-- Aquí se inserta el componente RegisterForm -->
      <RegisterForm client:load formId="registerForm" />
      
      <a href="/"><button class="btn-back">Regresar a Inicio</button></a>
    </div>

    <!-- Video de fondo -->
    <video autoplay muted loop id="background-video">
      <source src="/assets/fondo2.mp4" type="video/mp4" />
      Tu navegador no soporta el formato de video.
    </video>
  </body>
</html>
