---
import "../styles/backgroundVideo.css";
import "../styles/register.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My SpaceBlog - Registrarse</title>
  </head>
  <body>
    <div class="container">
      <h2>Registrarse</h2>
      <form>
        <input type="text" placeholder="Nombre Completo" required />
        <input type="email" placeholder="Correo Electrónico" required />
        <input type="tel" placeholder="Teléfono" required />
        <input type="password" placeholder="Contraseña" required />
        <input type="password" placeholder="Confirmar Contraseña" required />
        <label for="date">Fecha de nacimiento</label>
        <input type="date" required />
        <button type="submit" class="btn-register">Registrarse</button>
      </form>
      <a href="/"><button class="btn-back">Regresar a Inicio</button></a>
    </div>

    <script src="/src/scripts/register"></script>

    <!-- Video de fondo -->
    <video autoplay muted loop id="background-video">
      <source src="/assets/fondo2.mp4" type="video/mp4" />
      Tu navegador no soporta el formato de video.
    </video>
  </body>
</html>
