---
import "../styles/formBlogs.css";
---

<form class="blog-form" id="blogForm">
  <input type="text" id="title" placeholder="Titulo del blog" required />
  <textarea id="content" placeholder="Contenido del blog" rows="4" required
  ></textarea>

  <!-- Selección de categoría -->
  <div class="category-selection">
    <label for="category">Selecciona una categoria:</label>
    <select id="category" required>
      <option value="" disabled selected>Elige una categoria</option>
      <option value="Tecnologia">Tecnologia</option>
      <option value="Salud">Salud</option>
      <option value="Deportes">Deportes</option>
      <option value="Viajes">Viajes</option>
      <option value="Entretenimiento">Entretenimiento</option>
    </select>
  </div>

  <!-- Campo opcional para redes sociales -->
  <input
    type="text"
    id="socialMedia"
    placeholder="Enlace a redes sociales (opcional)"
  />

  <!-- Sección de selección de imagen -->
  <div class="image-selection">
    <label for="imageSelect">Selecciona una imagen:</label>
    <div class="image-buttons">
      <button type="button" class="image-button" data-image="../assets/1.png">
        <span
          class="image-option"
          style="background-image: url('../assets/1.png');"></span>
      </button>
      <button type="button" class="image-button" data-image="../assets/2.png">
        <span
          class="image-option"
          style="background-image: url('../assets/2.png');"></span>
      </button>
      <button type="button" class="image-button" data-image="../assets/3.png">
        <span
          class="image-option"
          style="background-image: url('../assets/3.png');"></span>
      </button>
      <button type="button" class="image-button" data-image="../assets/4.png">
        <span
          class="image-option"
          style="background-image: url('../assets/4.png');"></span>
      </button>
    </div>
    <!-- Imagen previa seleccionada -->
    <div id="imagePreview" class="image-preview">
      <img
        src=""
        alt="Vista previa"
        id="previewImage"
        style="width: 100%; height: auto;"
      />
    </div>
  </div>

  <button type="submit" id="publicar">Publicar Blog</button>
  <div id="volverFeed">
    <a href="./blogs" class="btn-redireccionar">Volver al feed</a>
  </div>
  
</form>

<!-- Mensaje de confirmación -->
<div id="confirmationMessage" class="confirmation-message">
  Blog publicado exitosamente!
</div>

<!-- Mensaje de fallo -->
<div id="warningMessage" class="warning-message">
  <div>
    <a href="./login" class="btn-redireccionar">Iniciar Sesión</a>
  </div>
  No has iniciado sesión
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("blogForm") as HTMLFormElement;
    const confirmationMessage = document.getElementById(  "confirmationMessage") as HTMLDivElement;
    const warningMessage = document.getElementById(  "warningMessage") as HTMLDivElement;

    form.addEventListener("submit", (event) => { event.preventDefault();

      const titleElement = document.getElementById("title") as HTMLInputElement | null;
      const contentElement = document.getElementById("content") as HTMLTextAreaElement | null;
      const categoryElement = document.getElementById( "category") as HTMLInputElement | null;
      const socialMediaElement = document.getElementById( "socialMedia") as HTMLInputElement | null;
      const imageSelectElement = document.querySelector( ".image-button.selected") as HTMLElement | null;

      if (
        titleElement &&
        contentElement &&
        categoryElement &&
        imageSelectElement
      ) {
        const title = titleElement.value;
        const content = contentElement.value;
        const category = categoryElement.value;
        const socialMedia = socialMediaElement ? socialMediaElement.value.trim() : "";
        const imageUrl = imageSelectElement.getAttribute("data-image") || "";
        const userString = sessionStorage.getItem("usuario");

        if (!userString) {
          warningMessage.style.display = "block";
          setTimeout(() => {
              confirmationMessage.style.display = "none";
          }, 3000);
        }
        
        const user = userString ? JSON.parse(userString) : null; 
        const id = "";
        const blog = {
          id,
          user: user.nombre,
          title,
          content,
          category,
          socialMedia: socialMedia || null, // Guardar null si no se ingresa nada
          date: new Date().toISOString(),
          image: imageUrl,
        };

        //agregar el blog y guartdarlo en el localStorage
        const blogs = JSON.parse(localStorage.getItem("blogs") || "[]");
        blog.id= ""+ blogs.length ;
        blogs.push(blog);
        localStorage.setItem("blogs", JSON.stringify(blogs));

        form.reset();
        document.dispatchEvent(new CustomEvent("blogAdded", { detail: blog }));

        confirmationMessage.style.display = "block";
        setTimeout(() => {
          confirmationMessage.style.display = "none";
        }, 3000);
      } else {
        console.error("Formulario o elementos necesarios no encontrados.");
      }
    });
    //mostrar la imagen seleccionada
    const imageButtons = document.querySelectorAll(".image-button");
    const previewImage = document.getElementById(  "previewImage") as HTMLImageElement | null;

    if (previewImage) {
      imageButtons.forEach((button) => {
        button.addEventListener("click", () => {
          const selectedImage = button.getAttribute("data-image");
          if (selectedImage) {
            previewImage.src = selectedImage; // Solo se ejecuta si previewImage no es null
          }

          // Resaltar el botón seleccionado
          imageButtons.forEach((btn) => btn.classList.remove("selected"));
          button.classList.add("selected");
        });
      });
    } else {
      console.error("No se encontró el elemento con id 'previewImage'");
    }
  });
</script>